body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh; 
  background: url('/assets/images/background-landingpage.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay {
  position: relative;
  z-index: 2; 
  max-width: 800px;
  padding: 20px;
}

.overlay small {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.overlay h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.overlay p {
  font-size: 1rem;
  margin: 10px 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.overlay button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

.sale-section {
  position: relative;
  text-align: center;
  color: white;
}

.sale-section img {
  width: 100%;
  height: auto;
}

.sale-section .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  text-align: center;
  padding: 0 20px; 
}

.sale-section .overlay h3,
.sale-section .overlay p,
.sale-section .overlay button {
  display: block;
  margin: 10px 0;
}

.sale-section .overlay button {
  margin-top: 30px;
  margin-right: 180px;
}
