@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d00000; 
    width: 100%;
}

.logo-container .logo {
    height: 50px;
    margin-left: 30px;
    border-radius: 35px;
    width: 5rem;
}

.menu-container {
    display: flex;
    gap: 20px;
}

.menu-container a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    padding: 5px 10px;
    border-radius: 20px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
}

.search-bar i {
    color: #333;
    margin-left: 5px;
}

.sidebar {
    display: flex;
    gap: 15px;
}

.sidebar a {
    color: white;
    font-size: 18px;
}