@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    /* color: white; */
}

.navbar-custom {
    /* background-color: #BE0002; */
    font-family: Montserrat, sans-serif;
}
.navbar-custom .nav-link {
    color: white !important;
    font-weight: bold;
}
.navbar-custom .nav-link:hover {
    text-decoration: underline;
}
.search-bar {
    width: 250px;
}
.navbar-icons a {
    color: white;
    margin-left: 15px;
    font-size: 1.2rem;
}

.label-check-form {
    position: relative;
}
.label-check-form img {
    width: 100%;
    height: auto;
}
.label-check-form .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 18%);
    text-align: center;
    color: white;
    /* border: 2px solid gray; */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 20rem;
    height: 91px;
    justify-content: center;
}
.overlay p{
    margin-bottom: 5px;
    margin-top: 12px;
}

.overlay h6 {
    font-size: 11px;
    font-weight: 50;
    font-family: 'Cormorant Garamond' sans-serif;
}

hr {
    color: #BE0002;
}

.label-check-form {
    position: relative;
}
.label-check-form img {
    width: 100%;
    height: auto;
}

.row hr {
    width: 100%;
}

select {
    width: 50px;
}

.dropdown select{
    justify-content: space-between;
}

#view-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-card-height {
    height: 25rem;
}

.view-show p strong{
    justify-content: end;
}

.pagination .page-item .page-link {
    color: #3d3b3b;
    border: 1px solid #3d3b3b;
    margin: 0 5px;
    border-radius: 5px;
}

.pagination .page-item.active .page-link {
    background-color: #3d3b3b;
    color: black;
    border-color: #3d3b3b;
}

.pagination .page-item .page-link:hover {
    background-color: #3d3b3b;
    color: white;
}

.pagination-bar {
    border-top: 2px solid #3d3b3b;
    border-bottom: 2px solid #3d3b3b;
}

.list-unstyled {
    justify-content: space-between;
}

svg {
    color: #BE0002;
}

.footer {
    background-color: #F6F6F6;
    padding: 20px 0;
}
.footer h3 {
    margin-bottom: 15px;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer ul li {
    margin-bottom: 10px;
}
.footer ul li a {
    text-decoration: none;
    color: #000;
}
.footer .social-icons {
    display: flex;
    gap: 15px;
}
.footer .social-icons svg {
    width: 24px;
    height: 24px;
}