@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/assets/images/LOGIN-BACKGROUND.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: white;
}

.um-logo {
    width: 10%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto 20px auto;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.login-box {
    margin-top: 20px;
    position: relative;
    width: 450px;
    /* border: 1px solid #FFB600; */
    border-radius: 15px;
    background-color: rgba(190, 0, 2, 25%);
    box-shadow: 2px 4px 10px 2px rgba(114, 114, 114, 0.8);
    padding: 5.0rem 2.5rem 4em 2.5em;
    text-align: center;
    backdrop-filter: blur(2px);
}

h1 {
    position: absolute;
    top: 0;
    left: 38%;
    margin-top: 30px;
    color: white;
}

input::placeholder {
    color: white;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
    display: none;
}

.input_box {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-field {
    width: 100%;
    height: 40px;
    font-size: 16px;
    background: rgba(255, 255, 255, 30%);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px; 
    outline: none; 
    margin: 10px;
}

i {
    color: white;
    position: absolute;
    top: 20px;
    right: 15px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    color: white;
}

.input-submit {
    width: 100%;
    height: 40px;
    background: #FFB600;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
    margin-top: 10px;
}
.input-submit:hover {
    transform: scale(1.05);
    background-color: #d39905;
}